h1 {
    margin-left: 20rem;
    font-size: 25px;
}

h2 {
    margin-left: 6%;
}

.container-1 {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 20%;
    margin-left: 1%;
    margin-top: 5%;
    box-shadow: 5px 10px rgb(0, 0, 0);
}

.card {
    margin-top: 3%;
    margin-left: 1%;
    border-style: none;
}

.container-2 {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 20%;
    margin-left: 1%;
    margin-top: 1%;
    box-shadow: 5px 10px rgb(0, 0, 0);
}

.container-3 {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 20%;
    margin-left: 1%;
    margin-top: 5%;
    box-shadow: 5px 10px rgb(0, 0, 0);
}