h1 {
    margin-left: 75rem;
    font-size: 35px;
    font-family: 'Bangers', cursive;
}

h2 {
    margin-left: 6%;
    font-family: 'Bangers', cursive;
}

.container-1 {
    border-style: solid;
    border-color: rgb(213, 206, 206);
    border-width: 1px;
    width: 20%;
    margin-left: 30%;
    margin-top: 5%;
    box-shadow: 5px 10px 10px rgb(0, 0, 0);
}

.navbar {
    background-color: rgb(240, 239, 239);
    position: sticky;
}

.card {
    margin-top: 3%;
    margin-left: 1%;
    border-style: none;
}

.container-2 {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 5%;
    margin-left: 30%;
    margin-top: 1%;
    box-shadow: 5px 10px 10px rgb(0, 0, 0);
}

.container-3 {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 20%;
    margin-left: 30%;
    margin-top: 2%;
    box-shadow: 5px 10px 10px rgb(0, 0, 0);
}

img {
    width: 40%;
}

.btn {
    margin-top: 22%;
    margin-left: 2%;
}

.fas {
    font-size: 20px;
    color: black;
}

.fab {
    margin-left: 5%;
    color: black;
}

.far {
    margin-left: 40%;
    color: black;
}

#text {
    text-align: center;
    margin-top: 15%;
}

.self {
    float: right!important;
}

.container-4 {
    border-style: solid;
    border-color: rgb(213, 206, 206);
    border-width: 1px;
    width: 20%;
    margin-left: 50%;
    margin-top: 5%;
    box-shadow: 5px 10px 10px rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    body {
        background-image: none !important;
        background-size: 0px!important;
    }
    .container-1 {
        margin-left: 0%;
        width: auto!important;
    }
    .container-2 {
        margin-left: 0%;
        width: auto!important;
    }
    .container-3 {
        margin-left: 0%;
        width: auto!important;
    }
    .container-4 {
        margin-left: 0%;
        width: auto!important;
    }
    #text {
        margin-top: 0%;
        text-align: left;
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {
    body {
        background-image: none;
        background-size: 0%;
    }
}